

/*@media only screen and (min-width: 665px) {
    .ParallaxMobile {
        top: -25%;
    }
}

@media only screen and (min-width: 930px) {
    .ParallaxMobile {
        top: -60%;
    }
}

@media only screen and (min-width: 1050px) {
    .ParallaxMobile {
        top: -60%;
    }
}*/